@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@700&family=Spline+Sans+Mono:wght@300;600&display=swap');

@keyframes fadeIn { to { opacity: 1; } }


body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: $color-white;
  font-family: $font-main;
  overflow-x: hidden;
  
  &.loaded {
    opacity: 1;
    .hero-letter { transform: translateY(0); }
    .hero-title .hero-word-additional { opacity: 1; transform: translateY(0); }
    .hero-title .hero-word:last-child::after { opacity: 1; transform: translateY(0); }
    .hero-designer { opacity: 1; }
    .hero-designer__img img { transform: scale(1); }
    .hero-description-centered p{ transform: translateY(0); }
    .hero-gray-box { opacity: 1; transform: scaleY(1); }
    .hero-taglines span { transform: translateY(0); }
    .hero-recent, .hero-collab { opacity: 1; transform: translateY(0); }
    .nav {opacity: 1;}
  }
}

.section-title-large {
  font-size: 15vw;
  font-weight: 700;
  text-align: center;
  margin: 0.5em 0;
  line-height: 0.8;
}

.scroll-anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
}
