// Fonts
$font-main: 'Antonio', sans-serif;
$font-mono: 'Spline Sans Mono', monospace;

// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #f1f1f1;
$transition-main: cubic-bezier(0.16, 1, 0.3, 1);