@import '../variables/variables.scss';

.contact {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  

  &__wrapper {
    width: 100%;
    padding: clamp(1rem, 5vw, 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  &-title {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15vw;
    font-weight: 700;
    z-index: 5;
    pointer-events: none;
    text-align: center;
    line-height: 1;

    .line {
      display: block;
    }
  }

  &-letter {
    display: inline-block;
  }

  &-headline {
    font-size: 100px;
    text-align: center;
    margin-bottom: 100px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    @media (max-width: 768px) {
      width: 100%;
    }

    .input-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        font-family: $font-main;
        font-size: 24px;
        margin-bottom: 10px;
        font-weight: 300;
        text-transform: uppercase;
      }

      input, 
      textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid $color-black;
        font-family: $font-main;
        font-size: 16px;
        text-align: center;
        outline: none;
        background: transparent;
        padding: 10px 0;
        color: $color-black;
        
        &:focus {
          border-bottom: 2px solid $color-black;
        }
      }
    }

    .submit-btn {
      font-family: $font-main;
      color: $color-black;
      font-size: 32px;
      background: transparent;
      border: none;
      text-decoration: underline;
      text-transform: uppercase;
      cursor: pointer;
      transition: opacity 0.3s;
      border: 0;
      outline: none;
      box-shadow: none;
      border: 0;

      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      -webkit-tap-highlight-color: transparent;
      
      &:hover {
        opacity: 0.6;
      }
    }
  }

  
}