@import '../variables/variables.scss';

.contact-section {
  padding: 100px 50px;
  padding-bottom: 50px;
  min-height: 80vh; // Ensure it takes up space
  position: relative;

  .contact-headline {
    font-size: 100px; // Large headline
    text-align: center;
    margin-bottom: 100px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .contact-form {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .input-group {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        font-family: $font-main;
        font-size: 24px;
        margin-bottom: 10px;
        font-weight: 300;
        text-transform: uppercase;
      }

      input, 
      textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid $color-black;
        font-family: $font-main;
        font-size: 32px;
        text-align: center;
        outline: none;
        background: transparent;
        padding: 10px 0;
        
        &:focus {
          border-bottom: 2px solid $color-black;
        }
      }
    }

    .submit-btn {
      font-family: $font-main;
      font-size: 64px;
      background: none;
      border: none;
      text-decoration: underline;
      text-transform: uppercase;
      cursor: pointer;
      margin-top: 50px;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .footer-info {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;

    .footer-contact h2 {
      font-size: 64px;
      margin: 0;
      font-weight: 700;
      line-height: 1.2;
    }

    .footer-socials {
      margin-top: 30px;
      display: flex;
      gap: 30px;
      font-size: 32px;
      text-decoration: underline;

      a {
        color: $color-black;
        text-decoration: inherit;
        text-transform: uppercase;
      }
    }
  }
}