@import '../variables/variables.scss';

.hero {
  padding-top: 10vh;
  min-height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;

  &__wrapper {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 3rem;
    position: relative;
    height: 100%;
  }

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 0;
    pointer-events: none;
    z-index: 2;
    position: relative;
    padding-bottom: 3vh;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 0;
      justify-content: center;      
    }

    .hero-word {
      display: flex;
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      line-height: 0.8;
      padding-bottom: 2vw;
      
      &:last-child::after {
          content: 'BASED IN INDONESIA';
          position: absolute;
          bottom: 0;
          right: 1vh; 
          transform: translateX(100%);
          font-size: 1.5vh;
          font-family: $font-mono;
          font-weight: 100;
          letter-spacing: 0.5em;
          opacity: 0;
          white-space: nowrap;
          transition: opacity 0.8s ease 1s;
          
          @media (max-width: 1200px) { display: none; }
      }
    }
  }

  .hero-letter {
    font-size: 9vw;
    font-weight: 700;
    letter-spacing: -0.04;
    color: $color-black;
    display: inline-block;
    transform: translateY(-100%);
    transition: transform 1.2s cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform;

    @media (max-width: 768px) {
      font-size: 16vw; 
    }
  }

  &-main-content {
      display: flex;
      justify-content: center;
      position: relative;
      margin-top: -30px;
      z-index: 1;
      overflow: hidden;
  }

  &-visual-group{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &-center-cluster {
      position: relative;
      display: flex;
      justify-content: end;
      align-items: flex-end;
      width: 50vh;
  }

  &-gray-box {
      position: absolute;
      top: 30%;
      width: 40vw;
      bottom: 0;
      min-height: 200px; 
      background-color: #F3F3F3; 
      z-index: 0;
      opacity: 1;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1) 0.6s;
      will-change: transform;
  }

  // change maybe needed
  &-taglines {
      position: relative;
      align-self: flex-end;
      padding-right: 4vh;
      padding-bottom: 2vh;
      text-align: left;
      font-weight: 700;
      letter-spacing: -0.02em;
      z-index: 3;
      max-width: 40vw;
      
      .overflow-line { 
        overflow: hidden;
        line-height: 1.1;
        white-space: nowrap;
      }
      span {
          display: inline-block;
          font-size: 1vw;
          padding-left: 0.4vw;
          padding-bottom: 0.3vh;
          transform: translateY(110%);
          transition: transform 0.8s ease 0.9s;
          will-change: transform;
      }
      
      @media (max-width: 1024px) { display: none; } 
  }

  &-description-centered {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  width: 100%;
  z-index: 2;

  .overflow-line {
    overflow: hidden;
    text-align: center;
  }

  p {
    margin: 0;
    font-size: clamp(24px, 1vw, 18px);
    line-height: 1.4;
    max-width: 60ch;
    text-align: center;
    transform: translateY(120%);
    transition: transform 0.8s ease 1s;
    will-change: transform;
    font-weight: 100;
  }
}

  &-designer {
    position: relative;
    z-index: 2;
    opacity: 0; 
    transition: opacity 1s ease 0.5s;
    margin-right: 5vw;

    &__img {
      width: 15vw; 
      min-width: 300px;
      height: 20vw;
      min-height: 400px;
      overflow: hidden;
      filter: grayscale(100%);
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.4);
        transition: transform 1.5s ease;
      }
    }
  }

  .hero-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    margin-top: 5vh;
    padding-bottom: 50px;
  }

  &-recent{
    align-self: flex-end;
  }
  &-collab{
    align-self: flex-start;
  }

  &-recent,
  &-collab {
    display: flex;
    flex-direction: column;
    font-family: $font-mono;
    font-size: 14px;
    gap: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease 1.2s;

    span:last-child {
      font-family: $font-main;
      font-size: 32px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
