@import '../variables/variables.scss';

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  padding: 1rem 3rem;
  z-index: 9999;
  box-sizing: border-box;
  color: $color-white;
  mix-blend-mode: difference;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  font-family: "Antonio", sans-serif;
  transition: height 0.8s ease, padding 0.8s ease, opacity 0.8s ease;


  .logo {
    justify-self: start;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
  }

  .links {
    display: flex;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: underline;
    gap: 6rem;
    

    button {
      color: inherit;
      text-decoration: inherit;
      font-weight: 100;
      transition: color 0.5s ease;
      position: relative;
      display:inline-block;
      padding: 0.35em;
      margin: 0;
      appearance: none;
      background:transparent;
      border: 0;
      overflow-x:hidden;

      &:after{
        content:'';
        position: absolute;
        top: 50%;
        left: 0;
        height:2px;
        width: 0;
        background: $color-white;
        transition: width 0.4s ease;
        mix-blend-mode: normal;
      }
      &:hover{
        cursor:pointer;
        color: rgba($color-white, 0.75);
        transition: color 0.5s ease;
      }
      &:hover:after{
        width:100%;
        transition: width 0.4s ease;
      }
      &:focus{
        outline: 0;
      }
    }
  }
}