@import '../variables/variables.scss';

.work {
  // padding: 100px 0;
  height: 100vh;
  width: 100vw;
  background-color: $color-white;
  position: relative;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  overflow: hidden;
  min-height: 100vh;

  &__wrapper {
    width: 100%;
    max-width: 1600px;
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
  }

  &-letter {
    display: inline-block;
  }

  &-title {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vw;
    font-weight: 700;
    z-index: 2;
  }
  
  &-item {
    border-top: 1px solid $color-black;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s;
    cursor: pointer;
    width: 100%;

    &:last-child {
      border-bottom: 1px solid $color-black;
    }

    &:hover {
      background-color: $color-gray;
    }

    .work-name {
      font-size: 80px;
      font-weight: 300;
    }

    .work-hover-text {
      font-size: 16px;
      font-family: $font-mono;
    }
  }
}